@mixin icon($char: false, $base: true, $after: false) {
    $pseudo: before;
    @if ($after) {
        $pseudo: after;
    }
    &:#{$pseudo} {
        @if ($base) {
            font-family: $font-family-icon;
            font-style: normal;
            font-weight: normal;
            speak: none;
            @include inline-block(none);
            text-decoration: inherit;
            text-align: center;
            font-variant: normal;
            text-transform: none;
            line-height: 1em;
        }
        @if ($char) {
            content: $char;
        }
        @content;
    }
}