//$webfont-icon-menu: "\e000";

@function get-icon($name) {
    $icon: "";

    @if($name == "menu"  ) { $icon: "\e000"; }
    @if($name == "arrow" ) { $icon: "\e001"; }
    @if($name == "user"  ) { $icon: "\e002"; }
    
    @return $icon;    
}

@mixin _icon-base {
    font-family: 'Custom Icon';
    font-style: normal;
    font-weight: normal;
    speak: none;
    @include inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}

@mixin icon-base {
    &:before {
        @include _icon-base;
        @content;
    }
}

@mixin icon($name, $with-base: true) {
    &:before {
        @if ($with-base) {
            @include _icon-base;
        }
        content: get-icon($name);
        @content;
    }
}

@mixin icon-update {
    &:before {
        @content;
    }
}

