@function get-icon($name) {
    @return nth($icon-fonts, index($icon-fonts, $name) + 1);
}

@mixin _icon-base {
    font-family: $icon-font-family;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}

@mixin icon-base {
    &:before {
        @include _icon-base;
        @content;
    }
}

@mixin icon($name, $with-base: true) {
    &:before {
        @if ($with-base) {
            @include _icon-base;
        }
        content: get-icon($name);
        @content;
    }
}

@mixin icon-update {
    &:before {
        @content;
    }
}

